<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>
  <couchbase>
    <servers bucket="default" bucketPassword="">
      <add uri="http://127.0.0.1:8091/pools/default"/>
    </servers>
  </couchbase>
  <connectionStrings>
    <add name="curConn" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=demo;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--1 allow cache, other value disabled cache-->
    <add key="allowCache" value="0" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="wcfService.ExRateService">
        <endpoint address="" behaviorConfiguration="wcfService.Service2AspNetAjaxBehavior"
          binding="webHttpBinding" contract="wcfService.ExRateService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="wcfService.Service2AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
